<<<<<<< HEAD
{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <header>
        {% include "header.html.twig" %}
    </header>
    <br>
    <form class="row g-3 needs-validation" novalidate>
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">First name</label>
            <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Last name</label>
            <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label for="validationCustomUsername" class="form-label">Username</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustom03" class="form-label">City</label>
            <input type="text" class="form-control" id="validationCustom03" required>
            <div class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
        <div class="col-md-3">
            <label for="validationCustom04" class="form-label">State</label>
            <select class="form-select" id="validationCustom04" required>
                <option selected disabled value="">Choose...</option>
                <option>...</option>
            </select>
            <div class="invalid-feedback">
                Please select a valid state.
            </div>
        </div>
        <div class="col-md-3">
            <label for="validationCustom05" class="form-label">Zip</label>
            <input type="text" class="form-control" id="validationCustom05" required>
            <div class="invalid-feedback">
                Please provide a valid zip.
            </div>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                    Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                    You must agree before submitting.
                </div>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
    </form>
</div>
{% endblock %}
=======
{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<header>
    {% include "header.html.twig" %}
</header>
<div>
    <div id="profil_info" class="d-flex flex-wrap flex-column">
        <div class="d-flex flex-wrap flex-row my-2">
            <div id="profil_image" class="rounded-circle border border-dark mx-2">
                <img class="rounded-circle" src="https://dummyimage.com/150x150/dee2e6/6c757d.jpg" alt="profil img blank"></img>
            </div>
            <div class="d-flex flex-column p-3">
                <div class="d-flex flex-row">
                    <div><h4>{{profil.nom}}</h4></div>
                    <div class="text-center"><a class="btn rounded-5 btn-small btn-outline-dark mx-2"> Changer</a></div>
                </div>
                <div class="d-flex flex-row">
                    <div><p>{{profil.mail}}</p></div>
                    <div class="text-center"><a class="btn rounded-5 btn-small btn-outline-dark mx-2"> Changer</a></div>
                </div>
                    <div class="d-flex flex-row">
                    <div><p>{{profil.mdp}}</p></div>
                    <div class="text-center"><a class="btn rounded-5 btn-small btn-outline-dark mx-2"> Changer</a></div>
                </div>
             </div>
        </div>
    <div class="d-flex flex-wrap justify-content-around">
        <div id="panier_track">
            <div>
                <h2>Panier</h2>
            </div>
            <div>
                {% if panier == NULL %}
                <p>Votre panier est vide</p>
                {% else %}
                {{ panier }}
                {% endif %}
            </div>
        </div>
        <div id="commandes_track">
            <div>
                <h2>Commandes</h2>
            </div>
            <div>
                {% if commandes is empty %}
                <p>Votre panier est vide</p>
                {% else %}
                {% for commande in commandes %}
                    <li>{{ commande }}</li>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<footer>
    {% include "footer.html.twig" %}
</footer>
{% endblock %}
>>>>>>> d09e25a0182347aa5907d9bab3eed9648fd262ac
