{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<header>
    {% include "header.html.twig" %}<br>
    <div class="text-center"><a class="btn btn-outline-info text-dark text-decoration-none"href="/catalogueaddto">Ajout Catalogue</a></div>
</header>

</div>
<div class="d-flex flex-wrap p-2 bg-gradients-warning">
{% for product in products %}
<div class="card h-80 m-1">
    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
    <div class="card-body p-4">
        <div class="text-center">
            <h5 class="fw-bolder">{{product.nom}}</h5>
            {{product.prix}}&#8364
        </div>
    </div>
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ path('app_product_detail', {'id': product.id }) }}">View options</a></div>
        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ path('app_catalogue_update', {'id': product.id }) }}">Update</a>
        <a class="btn btn-outline-dark mt-auto" href="{{ path('catalogue_delete', {'id': product.id }) }}">Delete</a></div>
       
    </div>
</div>
{% endfor %}
</div>
<footer>
    {% include "footer.html.twig" %}
</footer>
{% endblock %}
